body {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c6c72;
  background-color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding: 0px 16px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0px 15px;
  }
}

.header-hero__wrapper {
  position: relative;
  z-index: 1;
  background: url(../../images/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1199px) {
  .header-hero__wrapper {
    background-position: center;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  padding-top: 40px;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .header-topline {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-topline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
}

.header-topline__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-topline__item:not(:last-child) {
  margin-right: 50px;
}

.header-topline__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-topline__link:hover, .header-topline__link:focus {
  color: #232233;
}

.header-topline__icon {
  margin-right: 20px;
  fill: currentColor;
}

.header-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-socials__item:not(:last-child) {
  margin-right: 30px;
}

.header-socials__link {
  color: #ffffff;
}
.header-socials__link:hover .header-socials__icon, .header-socials__link:focus .header-socials__icon {
  color: #232233;
}

.header-socials__icon {
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 3px 3px 9px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 3px;
}
@media screen and (min-width: 1200px) {
  .header-main {
    padding: 3px 3px 3px 56px;
  }
}

.header-main__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  padding: 20px 11px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .header-main__logo {
    width: 200px;
    padding: 31px 11px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    width: 79px;
    height: 12px;
  }
}
.header-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .header-main__list {
    display: none;
  }
}
.header-main__list--right {
  margin-left: 325px;
}

.header-main__item:not(:last-child) {
  margin-right: 40px;
}

.header-main__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-main__link--current {
  color: #5956e9;
  text-decoration: underline;
}
.header-main__link:hover, .header-main__link:focus {
  color: #5956e9;
}

.header-main__button {
  padding: 12px 6px;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  border-radius: 3px;
  border: transparent;
  outline: none;
  color: #ffffff;
  background-color: #5956e9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-main__button:hover, .header-main__button:focus {
  background-color: #ffffff;
  outline: 2px solid #5956e9;
  color: #232233;
}
@media screen and (min-width: 768px) {
  .header-main__button {
    padding: 12px 15px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.menu-toggle {
  margin: 0;
  border: none;
  background-color: transparent;
  color: #232233;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover, .menu-toggle:focus, .menu-toggle:active {
  outline: none;
  color: #5956e9;
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.menu-button.is-open {
  z-index: 2;
}

.menu-button__icon {
  fill: currentColor;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vh;
  padding: 67px 90px 0px 40px;
  background-color: #ffffff;
  z-index: 999;
  text-align: left;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #5956e9;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 25px;
}

.mobile-menu__link {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #232233;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #5956e9;
  text-decoration: underline;
}

.hero {
  padding-top: 100px;
  padding-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .hero-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .hero-main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.hero__wrapper {
  position: relative;
  margin-bottom: 60px;
  width: 323px;
  padding: 30px 12px 20px 18px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    -ms-flex-item-align: center;
        align-self: center;
    width: 356px;
    margin-bottom: 0;
    padding: 14px 7px 14px 18px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrapper {
    width: 570px;
    padding: 40px 23px 40px 30px;
  }
}
.hero__wrapper::after {
  position: absolute;
  z-index: -1;
  top: -25px;
  left: 25px;
  content: "";
  width: 323px;
  height: 373px;
  border: 10px solid #7572ff;
}
@media screen and (min-width: 768px) {
  .hero__wrapper::after {
    top: -33px;
    left: 33px;
    width: 356px;
    height: 376px;
    border: 18px solid #7572ff;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrapper::after {
    width: 570px;
    height: 446px;
  }
}

.hero__title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: #5956e9;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 31.25px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-bottom: 18px;
    font-size: 48px;
    line-height: 1.3;
  }
}

.hero__desc {
  margin-bottom: 30px;
}

.hero__subtitle {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #232233;
}

.hero__stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__stores--item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .hero__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section {
  padding: 60px 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0;
  }
}
.section--features, .section--customers {
  background: url(../../images/features-bg-mobile.png);
}
@media screen and (min-width: 768px) {
  .section--features, .section--customers {
    background: url(../../images/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.section--team {
  padding-top: 130px;
}
@media screen and (min-width: 768px) {
  .section--team {
    padding-top: 220px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .section--team {
    padding-top: 280px;
  }
}

.section__title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: #232233;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 768px) {
  .section__title {
    font-weight: 700;
    font-size: 31.25px;
  }
}
.section__title--white {
  color: #ffffff;
}
.section__title--app {
  text-align: left;
}
@media screen and (max-width: 1199px) {
  .section__title--app {
    width: 288px;
  }
}

.section__desc {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section__desc {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section__desc {
    width: 600px;
  }
}
.section__desc--white {
  color: #ffffff;
}
.section__desc--app {
  width: auto;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.picture__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 75px;
}
.picture__wrapper::after {
  position: absolute;
  z-index: -1;
  bottom: -30px;
  content: "";
  width: 212px;
  height: 71px;
  background-image: url(../../images/Ellipse.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .about__list {
    padding-top: 50px;
  }
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 343px;
  padding: 18px 16px 10px 19px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .about__item {
    width: 391px;
    padding: 18px 30px 10px 21px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: 570px;
    padding: 30px 20px 21px 18px;
  }
}
.about__item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.about__info {
  margin-left: 18px;
}

.about__icon {
  padding-top: 4px;
  fill: #5956e9;
}

.about__subtitle {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #232233;
}

.features__option {
  text-align: center;
}
.features__option--top {
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .features__option--top {
    margin-bottom: 60px;
  }
}
.features__option--bot {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .features__option--bot {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__option--bot {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .features__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .features__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features__icon {
  margin-bottom: 20px;
  fill: #ffffff;
}

.features__info {
  margin-right: auto;
  margin-left: auto;
  width: 223px;
}
@media screen and (min-width: 1200px) {
  .features__info {
    width: 342px;
  }
}

.features__subtitle {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.features__desc {
  color: #ffffff;
}

.features__list--leftside {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .features__list--leftside {
    text-align: right;
    margin-right: 18px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list--leftside {
    margin-right: 60px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .features__list--rightside {
    text-align: left;
    margin-left: 18px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list--rightside {
    margin-left: 60px;
    padding-top: 40px;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .features__item:not(:last-child) {
    margin-bottom: 350px;
  }
}

.app__wrapper {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .app__wrapper {
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .app__box {
    width: 329px;
  }
}
@media screen and (min-width: 1200px) {
  .app__box {
    width: 570px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .app__picture {
    padding-top: 85px;
  }
}

.app__stores--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .app__stores--list {
    width: 325px;
  }
}

.app__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.app__item {
  width: 101px;
  padding: 12px 0;
  background-color: #5956e9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 5px;
}
.app__item:not(:last-child) {
  margin-right: 20px;
}

.app__icon {
  fill: #ffffff;
}

.app__number {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.app__action {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.splide__image {
  margin-left: auto;
  margin-right: auto;
}

.splide__arrow {
  background: rgba(108, 108, 114, 0.3333333333);
}

.splide__arrow--next {
  right: 0;
}
@media screen and (min-width: 768px) {
  .splide__arrow--next {
    right: 8em;
  }
}
@media screen and (min-width: 1200px) {
  .splide__arrow--next {
    right: 15em;
  }
}

.splide__arrow--prev {
  left: 0;
}
@media screen and (min-width: 768px) {
  .splide__arrow--prev {
    left: 8em;
  }
}
@media screen and (min-width: 1200px) {
  .splide__arrow--prev {
    left: 15em;
  }
}

.splide__arrow svg {
  fill: #5956e9;
}

.splide__pagination {
  bottom: -5%;
}

.splide__pagination__page {
  background: #5956e9;
}

.section--tip {
  position: relative;
  background-color: #5956e9;
}
@media screen and (min-width: 768px) {
  .section--tip {
    padding-bottom: 150px;
    background-image: url(../../images/tip-bg.png);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.tip__video {
  position: absolute;
  bottom: -75px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 343px;
  height: 150px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .tip__video {
    bottom: -115px;
    width: 559px;
    height: 231px;
  }
}
@media screen and (min-width: 1200px) {
  .tip__video {
    bottom: -160px;
    width: 770px;
    height: 319px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  width: 343px;
  padding: 30px 15px 50px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 213px;
    padding: 30px 17px;
  }
  .team__item:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 370px;
    padding: 30px 22px 53px 22px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: thick double #5956e9;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__photo {
    width: 160px;
    height: 160px;
  }
}

.team__name {
  font-weight: 700;
  font-size: 31.25px;
  text-transform: uppercase;
  color: #232233;
}

.team__pos {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 20px;
}

.team__desc {
  margin-bottom: 30px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__link {
  width: 18px;
  height: 18px;
  color: #232233;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  color: #5956e9;
}

.socials__icon {
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__item:first-child {
  padding-right: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .socials__item:first-child {
    padding-right: 15px;
  }
}

.socials__item:nth-child(2) {
  padding: 0 25px;
  border-left: 2px solid #6c6c72;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .socials__item:nth-child(2) {
    padding: 0 15px;
  }
}

.socials__item:nth-child(3) {
  padding: 0 25px;
  border-right: 2px solid #6c6c72;
  border-left: 2px solid #6c6c72;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .socials__item:nth-child(3) {
    padding: 0 15px;
  }
}

.socials__item:last-child {
  padding-left: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .socials__item:last-child {
    padding-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .section--customers {
    display: none;
  }
}
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__item {
  width: 236px;
  padding: 20px 30px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
}
.customers__item:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: 350px;
    -webkit-transition: scale 250ms ease-in;
    transition: scale 250ms ease-in;
  }
  .customers__item:hover {
    scale: 1.5;
  }
}

.customers__image {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  border: 2px solid #5956e9;
  border-radius: 50%;
}

.customers__name {
  font-weight: 600;
  font-size: 25px;
  color: #232233;
}

.customers__pos {
  margin-bottom: 18px;
  color: #232233;
}

@media screen and (min-width: 768px) {
  .blog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.blog__item {
  width: 343px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .blog__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .blog__item {
    width: 213px;
  }
  .blog__item:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .blog__item {
    width: 370px;
  }
  .blog__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .blog__image {
    width: 213px;
  }
}
@media screen and (min-width: 1200px) {
  .blog__image {
    width: 370px;
  }
}

.blog__info {
  padding: 30px 7px 30px 18px;
  text-align: left;
}

.blog__title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #232233;
}

.blog__desc {
  margin-bottom: 18px;
}

.blog__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  text-decoration: underline;
  text-transform: uppercase;
  color: #5956e9;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blog__link:hover, .blog__link:focus {
  color: #6c6c72;
}

.footer {
  padding-top: 60px;
  text-align: left;
  background-color: #232233;
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__leftside {
    width: 265px;
    margin-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__leftside {
    width: 334px;
    margin-right: 66px;
  }
}

.footer__logo {
  font-weight: 700;
  font-size: 31.25px;
  color: #ffffff;
}

.footer__desc {
  margin-bottom: 40px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer__desc {
    margin-bottom: 60px;
  }
}

.socials--footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  .socials--footer {
    margin-bottom: 60px;
  }
}

.socials__link--footer {
  color: #ffffff;
}

.socials__icon--footer {
  color: currentColor;
}

.footer__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__center {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__center {
    width: 123px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__center {
    width: 154px;
  }
}

.footer__links--item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__link {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #5956e9;
}

.footer__rightside {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__rightside {
    width: 213px;
    margin-bottom: 0;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__rightside {
    width: 369px;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 343px;
  height: 50px;
  padding: 1px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer__form {
    width: 213px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    width: 369px;
  }
}
.footer__form:focus-within {
  outline: 2px solid #5956e9;
}

.footer__input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-left: 15px;
  border: none;
}
@media screen and (min-width: 768px) {
  .footer__input {
    padding-left: 5px;
    font-weight: 300;
    font-size: 12.8px;
    line-height: 1;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}
.footer__input:focus {
  outline: none;
}

.footer__input--button {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5956e9;
  border: 1px solid #5956e9;
  border-radius: 4px;
  cursor: pointer;
}

.footer__input--icon {
  fill: #ffffff;
}

.footer__copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 23px;
  padding-bottom: 30px;
  border-top: 2px solid #ffffff;
}

.footer__copyrights--icon {
  margin-right: 10px;
  fill: #ffffff;
}

.footer__copyrights--text {
  font-weight: 300;
  font-size: 12.8px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */