.articles__list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.articles__item {
  width: 343px;
  box-shadow: $secondary-box-shadow;
  border-radius: 10px;

  @media screen and (max-width: $max-mobile) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 213px;
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 370px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.articles__image {
  @media screen and (min-width: $tablet) {
    width: 213px;
  }
  @media screen and (min-width: $desktop) {
    width: 370px;
  }
}

.articles__info {
  padding: 30px 7px 30px 18px;
  text-align: left;
}

.articles__title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: $dark-grey;
}

.articles__desc {
  margin-bottom: 18px;
}

.articles__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;

  text-decoration: underline;
  text-transform: uppercase;

  color: $accent;

  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $light-grey;
  }
}
